.column3
	-var titleBlock = "Login", blockOn= 11;
	include ../blockContent/blockContent
	-titleBlock = "Archive", blockOn= 12;
	include ../blockContent/blockContent
	-titleBlock = "Recent Comments", blockOn= 13;
	include ../blockContent/blockContent
	-titleBlock = "Like Us", blockOn= 14;
	include ../blockContent/blockContent