.column3
	-var titleBlock = "Вход", blockOn= 11;
	include ../blockContent/blockContent
	-titleBlock = "А какой сегодня день?", blockOn= 12;
	include ../blockContent/blockContent
	-titleBlock = "Лучшие комментарии", blockOn= 13;
	include ../blockContent/blockContent
	-titleBlock = "Мы в соцсетех", blockOn= 14;
	include ../blockContent/blockContent