.news-tab
	.ribbon
		h2.ribbon__title Новости
		.news-ribbon
			.marquee
				p.marquee__row
					| 13 января 2019 года канал HBO опубликовал новый ролик восьмого сезона с точной датой выхода — 14 апреля 2019 год.
					i(class="far fa-star marquee__icon-star")
					| Ходячие мертвецы 9 сезон вторая часть стартует 10 февраля 2019 года
					i(class="far fa-star  marquee__icon-star")
				p.marquee__row
					| с 06 декобря, доступен к показам в кинотеатрах фильм "Братья Систерс"
					i(class="far fa-star marquee__icon-star")
					| Фильм "Джон Уик 3" выйдет в прокат 16 мая 2019 года.
					i(class="far fa-star  marquee__icon-star")
				p.marquee__row
					| Музыка из «Интерстеллара» в исполнении на органе
					i(class="far fa-star marquee__icon-star")
					| Linkin Park поют актеры 183 фильмов
					i(class="far fa-star  marquee__icon-star")
	.button-social
		button( type = 'submit', class="button-social__btn")
			i( class="fas fa-search")
		button( type = 'submit', class="button-social__btn")
			i( class="fab fa-stripe-s")
		button( type = 'submit', class="button-social__btn")
			i( class="fas fa-film")
		button( type = 'submit', class="button-social__btn")
			i( class="fas fa-music")