.news-tab
	.ribbon
		h2.ribbon__title Breaking News
		.news-ribbon
			.marquee
				p.marquee__row
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry
					i(class="far fa-star marquee__icon-star")
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry
					i(class="far fa-star fas marquee__icon-star")
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry
	.button-social
		button( type = 'submit', class="button-social__btn")
			i( class="fas fa-search")
		button( type = 'submit', class="button-social__btn")
			i( class="fab fa-telegram-plane")
		button( type = 'submit', class="button-social__btn button-social__active-blue")
			i( class="fab fa-facebook-f")
		button( type = 'submit', class="button-social__btn")
			i( class="fab fa-twitter") 