.news-tab.news-tab_style
	.ribbon
		.ribbon-title
			h2.h2_ribbon-title Breaking News
		.ribbon-news
			.marquee
				p.p_ribbon-title
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry
					i(class="fa-star far fas ribbon-title__icon-star")
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry
					i(class="fa-star far fas ribbon-title__icon-star")
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry
	.button-social
		button( type = 'sibmit', class="button-social__btn")
			i( class="fa-fa")
		button( type = 'sibmit', class="button-social__btn")
			i( class="fa-fa")
		button( type = 'sibmit', class="button-social__btn")
			i( class="fa-fa")
		button( type = 'sibmit', class="button-social__btn")
			i( class="fa-fa") 