a(href='#' class="box-item post-items__border")
	.thumbnail
		img(src="./img/1.png" alt="" class="thumbnail__size")
	.content
		h2.content__title A New Yorker doesn't necessarily come
		.icon-wrap
			.icon-list
				i(class="far fa-user  icon-list__item")
				i(class="far fa-calendar  icon-list__item")
				i(class="far fa-comment-dots icon-list__item")