include ../../header/post-slider/post/post-mixin
.slider-post
	-
		var sliderPosts= [
			{
			  url: '#',
			  img: '1552563_500x800x250.jpg',
			  title: 'Олдбой',
			  cat: 'Боевик, Триллер, Драма, Детектив',
			  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots'],
			},
			{
			  url: '#',
			  img: '2014774_500x800x250.jpg',
			  title: 'Аквамен',
			  cat: 'Фантастика, Боевик, Приключения.',
			  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
			},
			{
			  url: '#',
			  img: '2017306_500x800x250.jpg',
			  title: 'Как приручить дракона 3 ',
			  cat: ' Мультфильм',
			  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
			},
			{
			  url: '#',
			  img: '1681847_500x800x250.jpg',
			  title: 'Т-34',
			  cat: 'Драма, Военный.',
			  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
			},
			{
			  url: '#',
			  img: '2027489_500x800x250.jpg',
			  title: 'Стекло',
			  cat: 'Драма, Детектив, Фантастика, Триллер.',
			  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
			},									                
		];
	
	each post in sliderPosts
		+printPostBlock(post,"post-link_h243")