include ../../header/post-slider/post/post-mixin
.box-content
	.title
		h2.title__h2 #{titleBlock}
		-if(blockOn == 3){
		.dot-carusel
		-}
		-if(blockOn == 7){
		.arrow-slider
			button( type="submit", class='arrow-slider__prev') <
			button( type="submit", class='arrow-slider__next') >
		-}
	.content-wrap
		-if(blockOn == 1)
			each prod in product
				+printPostBlock(prod,"post-link_h243")
		-if(blockOn == 2){
			include ../gallary/gal
		-}
		-if(blockOn == 3){
			include ../slickPost/carouselPosts
		-}
		-if(blockOn == 4){
			include ../entertainment/entertainment
		-}
		-if(blockOn == 5){
			include ../entertainment/post-items/post-items
		-}
		-if(blockOn == 6){
			include ../poll/poll
		-}
		-if(blockOn == 7){
			include ../sliderPost/sliderPost
		-}

