-
	var product = [
		{
		  url: '#',
		  img: '1.png',
		  title: 'At vero eos et accusamus et iusto odio',
		  cat: 'Photography',
		  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots'],
		  raite: 1,
		  num: "8.7",
		  numF: "Awesome"
		},
		{
		  url: '#',
		  img: '1.png',
		  title: 'At vero eos et accusamus et iusto odio',
		  cat: 'Photography',
		  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
		},
		{
		  url: '#',
		  img: '1.png',
		  title: 'At vero eos et accusamus et iusto odio',
		  cat: 'Photography',
		  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
		},
		{
		  url: '#',
		  img: '1.png',
		  title: 'At vero eos et accusamus et iusto odio',
		  cat: 'Photography',
		  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots'],
		  raite: 1,
		  num: "8.7",
		  numF: "Awesome"
		},									                
	];
.column1
	-var titleBlock = "Latest Posts", blockOn= 1;
	include ../blockContent/blockContent
	- titleBlock = "News in Picture"; blockOn= 2;
	include ../blockContent/blockContent
	- titleBlock = "Carousel Posts"; blockOn= 3;
	include ../blockContent/blockContent