extends ../layout/head
block title
	| Seven
block linkStyles
	link(rel="shortcut icon", href="./icon.ico")
	link(rel='stylesheet', href='./css/main.css')
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
	link(rel='stylesheet', href='./css/slick.css')
	link(rel='stylesheet', href='./css/photoswipe.css')
	link(rel='stylesheet', href='./css/default-skin/default-skin.css')
	body
		include ../layout/header
		include ../../blocks/index/index
		include ../layout/footer


		