extends ../layout/head
block title
	| modal
block linkStyles
	link(rel="shortcut icon", href="./icon.ico")
	link(rel='stylesheet', href='./css/main.css')
	link(rel='stylesheet', href='./css/fontawesome.min.css')
	body
		include ../layout/header
		include ../layout/footer


		