.wrap-index
	background: #ffffff
	padding-left: 40px
	padding-right: 40px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	padding-bottom: 40px

	&>.column1, .column2
		margin-right: 15px
@import ./blockContent/_blockContent
@import ./column1/_column1
@import ./column2/_column2
@import ./column3/_column3
@import ./gallary/gal
@import ./slickPost/carouselPosts
@import ./entertainment/entertainment
@import ../gen_button/gen_button
@import ../button-social/btn-soc
@import ./poll/poll
@import ./sliderPost/sliderPost
@import ./tags/tags
@import ./newsletters/newsletters
@import ./widget_video/widget_video
@import ./login/login
@import ./calendar/calendar
@import ./topComments/com
@import ./likeUs/likeUs