.wrap-index
	background: #ffffff
	padding-left: 40px
	padding-right: 40px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
@import ./blockContent/_blockContent
@import ./column1/_column1
@import ./column2/_column2
@import ./column3/_column3
@import ./gallary/gal
@import ./slickPost/carouselPosts
@import ./entertainment/entertainment