.newsletters
	h2.newsletters__title Subscribe to our email newsletter.
	form(action="#", metod="POST", class="subscription")
		button(type="submit", class="subscription__btn")
			include ../../../img/svg/like.svg
		input(type="email" class="subscription__email" placeholder ="Enter your e-mail address")