.newsletters
	h2.newsletters__title Будь в курсе всех событий
	form(action="#", metod="POST", class="subscription")
		button(type="submit", class="subscription__btn")
			include ../../../img/svg/like.svg
		input(type="email" class="subscription__email" placeholder ="Ваш email")