.recent-comments
    a(href='#' class="com-link com-link__space")
        .com-link__thumbnail
            img(src="./img/с1.jpg" alt="" class="com-link__thumbnail--size")
        .content.com-link__content
            h2.content__usname Tortik257:
            p.content__text Фильм не очень понравился. Какая-то сказочка про белого бычка...
            span.content__date 1 час назад
    a(href='#' class="com-link com-link__space")
        .com-link__thumbnail
            img(src="./img/с2.png" alt="" class="com-link__thumbnail--size")
        .content.com-link__content
            h2.content__usname Alex_1986:
            p.content__text Вкратце: фильм посмотреть можно, снято достаточно зрелищно. Ну при условии...
            span.content__date 1 минуту назад
    a(href='#' class="com-link com-link__space")
        .com-link__thumbnail
            img(src="./img/с3.jpg" alt="" class="com-link__thumbnail--size")
        .content.com-link__content
            h2.content__usname Rambo:
            p.content__text Многие "эксперты" пишут, что это фильм-сказка, однако забывают, что мир театра и кино...
            span.content__date 6 часов назад
    a(href='#' class="com-link com-link__space")
        .com-link__thumbnail
            img(src="./img/с4.jpg" alt="" class="com-link__thumbnail--size")
        .content.com-link__content
            h2.content__usname Waldo777:
            p.content__text Ребята, советую сходить на этот фильм! Смотрится на одном дыхании с первых эпизодов...
            span.content__date 6 дней назад
    a(href='#' class="com-link com-link__space")
        .com-link__thumbnail
            img(src="./img/с5.jpg" alt="" class="com-link__thumbnail--size")
        .content.com-link__content
            h2.content__usname FBI:
            p.content__text Фильм который вызывает положительные эмоции, фильм который радует от самого начало до...
            span.content__date 18 часов назад