.recent-comments
    a(href='#' class="com-link com-link__space")
        .com-link__thumbnail
            img(src="./img/1.png" alt="" class="com-link__thumbnail--size")
        .content.com-link__content
            h2.content__usname Alex:
            p.content__text Welcome to WordPress This is your first co...
            span.content__date 1 minutes ago
    a(href='#' class="com-link com-link__space")
        .com-link__thumbnail
            img(src="./img/1.png" alt="" class="com-link__thumbnail--size")
        .content.com-link__content
            h2.content__usname Alex:
            p.content__text Welcome to WordPress This is your first co...
            span.content__date 1 minutes ago
    a(href='#' class="com-link com-link__space")
        .com-link__thumbnail
            img(src="./img/1.png" alt="" class="com-link__thumbnail--size")
        .content.com-link__content
            h2.content__usname Alex:
            p.content__text Welcome to WordPress This is your first co...
            span.content__date 1 minutes ago
    a(href='#' class="com-link com-link__space")
        .com-link__thumbnail
            img(src="./img/1.png" alt="" class="com-link__thumbnail--size")
        .content.com-link__content
            h2.content__usname Alex:
            p.content__text Welcome to WordPress This is your first co...
            span.content__date 1 minutes ago
    a(href='#' class="com-link com-link__space")
        .com-link__thumbnail
            img(src="./img/1.png" alt="" class="com-link__thumbnail--size")
        .content.com-link__content
            h2.content__usname Alex:
            p.content__text Welcome to WordPress This is your first co...
            span.content__date 1 minutes ago