-
    var social = [
        {
            class: "btn-soc__facebook",
            classIcon: "fab fa-facebook-f"
        },
        {
            class: "btn-soc__google",
            classIcon: "fab fa-google-plus-g"
        },
        {
            class: "btn-soc__vk",
            classIcon: "fab fa-vk"
        },
        {
            class: "btn-soc__telegram",
            classIcon: "fab fa-telegram-plane"
        },
        {
            class: "btn-soc__pinterest",
            classIcon: "fab fa-pinterest-p"
        },
        {
            class: "btn-soc__youtybe",
            classIcon: "fab fa-youtube"
        },
        {
            class: "btn-soc__mail",
            classIcon: "fas fa-at"
        },
        {
            class: "btn-soc__twitter",
            classIcon: "fab fa-twitter"
        },
        {
            class: "btn-soc__reddit",
            classIcon: "fab fa-reddit-alien"
        },
    ];
.like-us
    each soc in social
        include ../../button-social/btn-soc