.header-menu
	.menu-toggle
		button(class="menu-toggle__btn menu-toggle__htx")
			span menu
	.toggle-menu
		nav.menu
			ul.menu__list
				li.menu__item.menu__item_active 
					| Сериалы
					ul.submenu
						li.submenu-items
							a(href="./404.html" class="submenu-items__link") Новые
				li.menu__item 
					a(href="./404.html" class="menu__item-link") Фильмы