.header-menu
	.logo
		a(href="/", class="logo__link-home")
			img(src="./img/SeVen.png", alt="logo", class="logo__img")
	.menu-toggle
		button(class="menu-toggle__btn menu-toggle__htx")
			span menu
	.toggle-menu
		nav.menu
			ul.menu__list
				li.menu__item.menu__item_active 
					| Categories
					ul.submenu
						li.submenu-items
							a(href="#" class="submenu-items__link") Новые
						li.submenu-items
							a(href="#" class="submenu-items__link") Новые
						li.submenu-items
							a(href="#" class="submenu-items__link") Новые
				li.menu__item 
					a(href="#" class="menu__item-link") Forums
				li.menu__item 
					a(href="#" class="menu__item-link") Shop
				li.menu__item 
					a(href="#" class="menu__item-link") Shortcodes
				li.menu__item 
					a(href="#" class="menu__item-link") Contact
		img(src="./img/img1.png", alt="space", class="menu__space")
	img(src="./img/img1.png", alt="space", class="header-menu__space")