.slider,.slider-items
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.slider
	flex-direction: column

	&>.slider-dot,.slick-dots
		padding: 10px 40px 10px 40px

		&>.slider-dot__item,button
			width: 26px
			height: 6px

.slider-dot,.slick-dots
	width: 100%
	background: #ffffff
	display: flex
	flex-flow: row wrap
	justify-content: flex-end
	align-items: center
	list-style: none
	margin: 0

	.slider-dot__item_activ,.slick-active>button
		background: #646464

	.slider-dot__item,button
		background: #e9e9e9
		font-size: 0
		margin-right: 4px
		border: none
		&:hover
			background: #646464
.slick-dots:nth-child(2)
	display: none			
@import ./post/_post