include ./post/post-mixin
.slider
	.slider-items
		-
			var product = [[
				{
				  url: './singl-post.html',
				  img: 'Vikings1.png',
				  title: 'Викинги (1-5 сезон)',
				  cat: 'Photography',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots'],
				  raite: 0,
				  num: "8.7",
				  numF: "Awesome"
				},
				{
				  url: './singl-post.html',
				  img: 'misterR.jpg',
				  title: 'Мистер Робот',
				  cat: 'Драма, Технотриллер, Психологический триллер',
				  faIcon: ['']
				},
				{
				  url: './singl-post.html',
				  img: 'flesh.jpg',
				  title: 'Флэш',
				  cat: 'Фантастика',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: './singl-post.html',
				  img: 'lastK.jpg',
				  title: 'Последнее королевство',
				  cat: 'боевики, драмы, исторические',
				  faIcon: ['far fa-user', 'far fa-comment-dots']
				},
				{
				  url: './singl-post.html',
				  img: 'gameOFthrones.jpg',
				  title: 'Game OF Thrones',
				  cat: 'фэнтези, драмы',
				  faIcon: ['far fa-user','far fa-calendar']
				},									                
			],
			[
				{
				  url: './singl-post.html',
				  img: 'Настоящий_детектив_(2_сезон).jpg',
				  title: 'Настоящий детектив (2 сезон)',
				  cat: 'антология, детектив, криминальная драманеонуар',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: './singl-post.html',
				  img: 'во.jpg',
				  title: 'Джессика Джонс',
				  cat: 'боевики, драмы, криминальные, фантастические',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: './singl-post.html',
				  img: 'Silicon_Valley.png',
				  title: 'Silicon Valley',
				  cat: '	Комедия',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: './singl-post.html',
				  img: '9774.jpg',
				  title: 'The Leftovers ',
				  cat: 'фэнтези, детективы, драмы ',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: './singl-post.html',
				  img: 'dx.jpeg',
				  title: 'Forever',
				  cat: 'Фантастика, Драмы, Зарубежные',
				  faIcon: ['far fa-user']
				},									                
			]]
		
		-for(var i=0;i<product.length;i++){
				each prod in product[i]
					+printPostBlock(prod,"post-link_h352")
		-}
	.slider-dot