include ./post/post-mixin
.slider
	.slider-items
		-
			var product = [[
				{
				  url: '#',
				  img: '1.png',
				  title: 'At vero eos et accusamus et iusto odio',
				  cat: 'Photography',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: '#',
				  img: '1.png',
				  title: 'At vero eos et accusamus et iusto odio',
				  cat: 'Photography',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: '#',
				  img: '1.png',
				  title: 'At vero eos et accusamus et iusto odio',
				  cat: 'Photography',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: '#',
				  img: '1.png',
				  title: 'At vero eos et accusamus et iusto odio',
				  cat: 'Photography',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: '#',
				  img: '1.png',
				  title: 'At vero eos et accusamus et iusto odio',
				  cat: 'Photography',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},									                
			],
			[
				{
				  url: '#',
				  img: '1.png',
				  title: 'At vero eos et accusamus et iusto odio',
				  cat: 'Photography',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: '#',
				  img: '1.png',
				  title: 'At vero eos et accusamus et iusto odio',
				  cat: 'Photography',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: '#',
				  img: '1.png',
				  title: 'At vero eos et accusamus et iusto odio',
				  cat: 'Photography',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: '#',
				  img: '1.png',
				  title: 'At vero eos et accusamus et iusto odio',
				  cat: 'Photography',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},
				{
				  url: '#',
				  img: '1.png',
				  title: 'At vero eos et accusamus et iusto odio',
				  cat: 'Photography',
				  faIcon: ['far fa-user','far fa-calendar', 'far fa-comment-dots']
				},									                
			]]
		
		-for(var i=0;i<product.length;i++){
				each prod in product[i]
					+printPostBlock(prod,"post-link_h352")
		-}
	.slider-dot