.comments
    h2.comments__title Комментарии
    .comments-column
        .comments-list
            ul.list-com
                li.list-com__item
                    .com
                        .img-com
                            img(src="./img/с4.jpg" class="img-com__usimg" alt="img comments user")
                        .msg-com
                            .com-info 
                                span.com-info__usname  Rambo
                                span.com-info__time  58 мин
                            p.msg-com__text Прошу, не сомневайтесь, фильм великолепный! Конечно, вкусы у всех разные и спорить здесь с кем-то бессмысленно, но все же. Возможно, кому-то показался фильм нереальным, кто-то ищет режиссёрские ляпы. Но какой реалистичности вы ходите? Крови, грязи, бойни? Спасибо режиссёру, что он сумел снять фильм 
                            button(type="submit" class="msg-com__btn" data-usname="Rambo") Ответить
                li.list-com__item
                    .com
                        .img-com
                            img(src="./img/404.jpg" class="img-com__usimg" alt="img comments user")
                        .msg-com
                            .com-info 
                                span.com-info__usname  XxX_XxX
                                span.com-info__time  1 час назад
                            p.msg-com__text Великолепный фильм!наконец-то вышла из кинотеатра с кучей положительный эмоций что бывает крайне редко...Интересный,динамичный,... очень трогательный и переживательный...до глубины души...СВЕТЛЫЙ фильм со смыслом...Спасибо за этот фильм,ВСЕМ СОВЕТУЮ!...			
                            button(type="submit" class="msg-com__btn" data-usname="XxX_XxX") Ответить
                li.list-com__item
                    .com
                        .img-com
                            img(src="./img/с1.jpg" class="img-com__usimg" alt="img comments user")
                        .msg-com
                            .com-info 
                                span.com-info__usname  Злой критик
                                span.com-info__time  8 дней назад
                            p.msg-com__text Сюжет и концовка настолько глупые, что даже сложно выбрать, что в этом фильме более убого. Спецэффекты местами хорошие, местами на уровне школьных уроков информатики. Посмотрела из-за большого резонанса какое-то время назад и пожалела потраченного времени. Всем, кто ждет чего-то интригующего от сюжета и впечатляющего от спецэффектов - не рекомендую. Лучше посмотрите что-нибудь другое!
                            button(type="submit" class="msg-com__btn" data-usname="Злой критик") Ответить
        .comments-form
            form(action="", class="form")
                .form-left
                    .input-name
                        input(type="text" name="usname" id="name" class="input" placeholder="Ваше имя")
                    .input-email
                        input(type="email" name="email" id="email" class="input" placeholder="Ваш email")
                .form-right
                        textarea(name="msg" class="input" id="msg"  placeholder="Сообщение")
                button(type="submit" name="msg_send" id="send-comments" class="form__btn gen-button") Отправить
                .form-warrning
                    img(src="./res/img/load.gif" class="form-warrning__load")
                    span.form-warrning__info

    .comments-load
        button(type=submit, class="comments-load__btn gen-button" name="com_load") Больше