.singl-post
    background: #fff
    display: flex
    flex-flow: row wrap
    .column-left
        padding: 0
        width: 77%
        padding: 15px
    .column-right
        padding: 15px
        padding-top: 0px
        width: 22%
        border-left: 1px solid #dad7d7;
        .box-content:nth-child(1)
            padding-top: 0px

.singl-post
    .post-info
        display: flex
        flex-flow: row wrap
        &__right
            width: 70%
            padding-left: 20px
        &__left
            width: 30%

.preview
    width: 50%
    height: 70%
    &__size
        width: 100%
        height: 100%
.comments
    width: 100%
    .comments-column
        display: flex
        .comments-list
            width: 65%
        .comments-form
            width: 35%

.form
    display: flex
    flex-flow: row wrap
    .form-left,.form-right
        width: 50%
    &__btn
        width: 100%