@import "foundation";
.header-email{
  background: #343a40;
  .header-email{
    &__logo{
      width: 20%!important;
    }
    &__title{
      color: #fff!important;
    }
  }
}

.product{
  .product-column_{
    &_img{
      width: 100%;
      height: 240px;
    }
  }
}


.footer{
  background: #343a40;
  .footer{
    &-phone,&-title,&__email{
      color: #fff!important;
    }
  }
}