.search
	form(class="seach-form")
		.search-inv
			input( class="search-inv__input")
			-var btnText ="Поиск";
			include ../../gen_button/gen_button
		.search-result
			.search-result__item dfdfd
			.search-result__item dfdfd
			.search-result__item dfdfd
			.search-result__item dfdfd