.tags
	a(href="#").tags__link фантастика
	a(href="#").tags__link боевик
	a(href="#").tags__link фильм
	a(href="#").tags__link сериал
	a(href="#").tags__link все
	a(href="#").tags__link ost
	a(href="#").tags__link популярное
	a(href="#").tags__link комедии
	a(href="#").tags__link драмма