.tags
	a(href="#").tags__link developer
	a(href="#").tags__link business
	a(href="#").tags__link themeforest
	a(href="#").tags__link wordpress themes
	a(href="#").tags__link styles
	a(href="#").tags__link portfolio carousel
	a(href="#").tags__link workstation
	a(href="#").tags__link wordpress plugins
	a(href="#").tags__link begginers tutorials