form( class="login", metod="POST")
    .login-input
        input(type="text" class="login-input__usname" placeholder ="Ваш ник" name="usname")
        input(type="password" class="login-input__password" placeholder ="Ваш пароль" name="password")
    .login-btn
        .form-btn
            -var btnText ="Войти";
            include ../../gen_button/gen_button
        .form-checkbox
            input(type="checkbox" id="remember" class="form-checkbox__remember" name="remember")
            label(for="remember" class="form-checkbox__label") Запомнить меня
    a(href="#" class="login__recover") Забыл пароль?
    