mixin printMiniPost(postObj)
	a(href=""+postObj.url).mini-post
		.post-pr
			img(src="./img/"+postObj.img, alt="", class="post-pr__img")
			.icon.position_abs
				-if(postObj.svg == 'music'){
				include ../../../../img/svg/headphones.svg
				-}
				-if(postObj.svg == 'video'){
				include ../../../../img/svg/video-camera.svg
				-}
		h2.mini-post__title= postObj.title
		.box-date
			i(class="far fa-calendar  box-date__icon")
			span.box-date__date= postObj.date