.mini-post
	.post-pr
		img(src="./img/1.png", alt="", class="post-pr__img")
		.icon
			include ../../../../img/svg/headphones.svg
	h2.mini-post__title Sed do eiusmod  tempor incididunt ut
	.box-date
		i(class="far fa-calendar  box-date__item")
		span.box-date__date 27 March, 2014

