.container-footer
        .column-left
            .logo
                a(href="/", class="logo__link-home")
                    //img(src="./img/SeVen.png", alt="logo", class="logo__img")
                    include ../../img/svg/logo.svg
            .site-info
                p.site-info__text GoFilm — это большая коллекция видео информации, помогающей киноманами со всего мира быть в курсе последних новостей кино индустрии.
                p.site-info__email Email:  gofilm@film.com
            .footer-social
                -
                    var linkSocial = [
                        {
                            class: "link-social__facebook",
                            classIcon: "fab fa-facebook-f",
                            url: "#"
                        },
                        {
                            class: "link-social__google",
                            classIcon: "fab fa-google-plus-g",
                            url: "#"
                        },
                        {
                            class: "link-social__vk",
                            classIcon: "fab fa-vk",
                            url: "#"
                        },
                        {
                            class: "link-social__telegram",
                            classIcon: "fab fa-telegram-plane",
                            url: "#"
                        },
                        {
                            class: "link-social__pinterest",
                            classIcon: "fab fa-pinterest-p",
                            url: "#"
                        },
                        {
                            class: "link-social__youtybe",
                            classIcon: "fab fa-youtube",
                            url: "#"
                        },
                        {
                            class: "link-social__mail",
                            classIcon: "fas fa-at",
                            url: "#"
                        },
                        {
                            class: "link-social__twitter",
                            classIcon: "fab fa-twitter",
                            url: "#"
                        },
                        {
                            class: "link-social__reddit",
                            classIcon: "fab fa-reddit-alien",
                            url: "#"
                        },
                    ];
            .footer-social
                each link in linkSocial
                    include ../link-social/link-social
        .column-right
            h2.column-right__rdpost Испытай удачу
            .random-post
                a(href='#' class="box-item")
                    .thumbnail
                        img(src="./img/2024645_220x220x50x1.jpg" alt="" class="thumbnail__size")
                    .content
                        h2.content__title Ничего хорошего в отеле «Эль рояль»
                        .icon-wrap
                            .icon-list
                                i(class="far fa-user  icon-list__item")
                                i(class="far fa-calendar  icon-list__item")
                                i(class="far fa-comment-dots icon-list__item")
                a(href='#' class="box-item")
                    .thumbnail
                        img(src="./img/Настоящий_детектив_(2_сезон).jpg" alt="" class="thumbnail__size")
                    .content
                        h2.content__title Настоящий детектив
                        .icon-wrap
                            .icon-list
                                i(class="far fa-user  icon-list__item")
                                i(class="far fa-calendar  icon-list__item")
                                i(class="far fa-comment-dots icon-list__item")
                a(href='#' class="box-item")
                    .thumbnail
                        img(src="./img/во.jpg" alt="" class="thumbnail__size")
                    .content
                        h2.content__title Джессика Джонс
                        .icon-wrap
                            .icon-list
                                i(class="far fa-user  icon-list__item")
                                i(class="far fa-calendar  icon-list__item")
                                i(class="far fa-comment-dots icon-list__item")
        .column-bottom
            p.copuraite © 2019 GoFilm. 16+ 
            .footer-nav
                nav.menu
                    ul.menu__list
                        li.menu__item
                            a(href="/" class="menu__item-link") Главная
                        li.menu__item 
                            a(href="#" class="menu__item-link") Форум
                        li.menu__item 
                            a(href="#" class="menu__item-link") Фильмы
                        li.menu__item 
                            a(href="#" class="menu__item-link") Сериалы
                        li.menu__item 
                            a(href="#" class="menu__item-link") Контакты