.post
	a(href ="#" class="post-link")
		.thumbnail
			img(src="./img/1.png" alt="" class="thumbnail__size")
		.post-content.position_abs
			h2.post-content__title At vero eos et accusamus et iusto odio
			.icon-wrap
				.icon-file
					p.icon-file__cat 
						i(class="far fa-folder-open icon-file__cat-item")
						| Photography
				.icon-list
					i(class="far fa-user  icon-list__item")
					i(class="far fa-calendar  icon-list__item")
					i(class="far fa-comment-dots icon-list__item")
