mixin printPostBlock(postObj,modif_h)
	.post
		a(href =""+postObj.url class="post-link "+modif_h)
			.thumbnail
				img(src="./img/"+postObj.img alt="" class="thumbnail__size")
			.post-content.position_abs
				h2.post-content__title= postObj.title
				.icon-wrap
					.icon-file
						p.icon-file__cat.flex_revers= postObj.cat
							i(class="far fa-folder-open icon-file__cat-item")
					.icon-list
						-for(var x=0; x<postObj.faIcon.length; x++){
						i(class= postObj.faIcon[x]+" icon-list__item")
						-}