.column2
	-var titleBlock = "Popular Posts", blockOn= 5;
	include ../blockContent/blockContent
	-titleBlock = "Poll", blockOn= 6;
	include ../blockContent/blockContent
	-titleBlock = "Slider Post", blockOn= 7;
	include ../blockContent/blockContent
	-titleBlock = "Tags", blockOn= 8;
	include ../blockContent/blockContent
	-titleBlock = "Newsletters", blockOn= 9;
	include ../blockContent/blockContent
	-titleBlock = "Widget video", blockOn= 10;
	include ../blockContent/blockContent