.column2
	-var titleBlock = "Популярное", blockOn= 5;
	include ../blockContent/blockContent
	-titleBlock = "Прими участие в голосовании", blockOn= 6;
	include ../blockContent/blockContent
	-titleBlock = "Новинки в кино", blockOn= 7;
	include ../blockContent/blockContent
	-titleBlock = "Теги", blockOn= 8;
	include ../blockContent/blockContent
	-titleBlock = "Подписка", blockOn= 9;
	include ../blockContent/blockContent
	-titleBlock = "Обсуждаеммый трейлер", blockOn= 10;
	include ../blockContent/blockContent